  {
    "name": "${container_name}",
    "essential": true,
    "image": "${image}",
    "portMappings": ${port_mappings},
    "cpu": ${cpu},
    "memory": ${mem},
    "command": ${command},
    "environment": ${container_env},
    "secrets": ${secrets},
    "dockerLabels": ${labels},
    "mountPoints": [
      ${mountpoint_sourceVolume == "none" ? "" :
          format(
            "{ \"sourceVolume\": \"%s\", \"containerPath\": \"%s\", \"readOnly\": %s }",
            mountpoint_sourceVolume,
            mountpoint_containerPath,
            mountpoint_readOnly
          )
      }
    ],
    "ulimits": [
      {
        "name": "nofile",
        "softLimit": ${nofile_soft_ulimit},
        "hardLimit": 65535
      }
    ],
    ${enable_cloudwatch_logs == "true" ? "" :
        format(
          "\"logConfiguration\": {\"logDriver\": \"awslogs\", \"secretOptions\": null, \"options\": { \"awslogs-group\": \"%s\", \"awslogs-region\": \"%s\", \"awslogs-stream-prefix\": \"%s\" } },",
          "/ecs/${container_name}",
          region,
          "ecs"
        )
    }
    "linuxParameters": {
      "initProcessEnabled": true
    }
  }
